
  <div class="title">
  <mat-card-title *ngIf="!isTimerRunning">
    EMOM-Timer
  </mat-card-title>

  <mat-card-title *ngIf="isTimerRunning">
    Round {{currentRound}} of {{rounds}} input: {{input}}
  </mat-card-title>
</div>

<div class="time">
  <mat-card-content>
    {{remainingSeconds}}
  </mat-card-content>
</div>

<div class="round start">
  <mat-card-actions *ngIf="!isTimerRunning">
    <button matTooltip="+1 round" mat-fab color="primary" color="basic" (click)="editRounds(+1)">
      <mat-icon>add</mat-icon>
    </button>
    <button  mat-fab [disabled]="rounds <= 1" color="basic" (click)="editRounds(-1)">
      <mat-icon>remove</mat-icon>
    </button>
    <div>
      <button color="basic" (click)="repeatRounds(1)" mat-button mat-raised-button>
        repeat
      </button>
    </div>
    <div>
    <button color="primary" (click)="startTimer()" mat-button mat-raised-button>
      Start {{rounds}} rd(s)
    </button>
  </div>
  </mat-card-actions>
</div>




<div class="run">
  <mat-card-actions *ngIf="isTimerRunning">
    <button *ngIf="!isTimerPaused" color="basic" (click)="pause()" mat-button mat-raised-button>
      Pause
    </button>
    <button *ngIf="isTimerPaused" color="basic" (click)="continue()" mat-button mat-raised-button>
      Continue
    </button>
    <button color="basic" (click)="stop()" mat-button mat-raised-button>
      Stop
    </button>
  </mat-card-actions>
</div>




<div *ngFor="let inputValue of inputValues; let i = index; trackBy: trackByIndex">
  <!-- <input [(ngModel)]="inputValues[i]" /> -->
  <ng-select class="select" [items]="options | filter: searchText" bindLabel="name" bindValue="name" [addTag]="true" [searchable]="true" [(ngModel)]="inputValues[i]"></ng-select>
</div>



<!-- <div>
  <table>
    <thead>
      <tr>
        <th>Index</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let inputValue of inputValues; let i = index">
        <td>{{ i }}</td>
        <td>{{ inputValue }}</td>
      </tr>
    </tbody>
  </table>
</div> -->






